@model Homework_9.Pages.CardType


<turbo-frame id="cardtype_@Model.Id">
   <div class=" mx-2 my-2  rounded-md ">     
    <div class="grid grid-cols-3 mx-2  justify-center ">
    <div class="text-center">
      <p class="text-left">@Model.Description</p>    
    </div>
    <div>
      <input type="checkbox" readonly asp-for="@Model.IsVisitible"/>
    </div>
    <div class=" flex text-center ">
      <div>
        <a asp-page="/Types" asp-page-handler="EditCardType"  class="link-button-primary ml-2"  asp-route-id="@Model.Id">Edit</a>
   
      </div>
        </div>

  </div>
</div>
</turbo-frame>
