@model Homework_9.Pages.IndexModel

<turbo-frame id="usererror_frame">
  @if (!String.IsNullOrEmpty(@Model.ErrorMessage)) {
        <div class="basis-1/2 text-right">
            <p  class="text-red-500 font-sans text-l">@Model.ErrorMessage </p>
        </div>
      }
  

    
</turbo-frame>