@page
@model IndexModel
@{
    ViewData["Title"] = "Idesse";
}


<div class="justify-center grid grid-col-3 pl-10 text-center item-center m-12">

  <div class="justify-center border border-gray ">

    <partial name="_LoginView"></partial>  

     

</div>
</div>
