@page
@model Homework_9.Pages.MainModel
@{
}


<div class="justify-center grid grid-col-3 pl-10 text-center item-center m-12 w-full">
   <div class="justify-center border border-gray ">
        <div class="flex px-3 py-3 ">
            <div class="basis-1/5 text-start">
              <img src="~/dist/images/idesse_untitled_logo.png" class="block  h-7  sm:mx-0 sm:shrink-0 border border-white border-spacing-2 justify-end"/>   

            </div>
            <div class="basis-4/5 text-start">
               <a  asp-page="/Types" class="text-font-bold text-gray-500" >Kart Tipleri</a>         
            </div>           
       
          </div>

        <hr  class="w-full"/>
         <div class="  grid-flow-col mx-2 my-2 border border-gray-200  rounded-md ">
    <div class=" mx-2 my-2  rounded-md ">     
    <div class="grid grid-cols-3 mx-2 my-2 py-3 justify-center ">
    <div class="text-font-bold text-gray-500 text-left ml-3 ">
      <p> </p>
    </div>
      <div class="text-font-bold text-gray-500 text-left "> </div>
      <div class=""></div>
    </div>
    </div>
      <div class="text-font-bold text-gray-500 items-center ">
        
      </div>
         </div>
         </div>