@page
@using Homework_9.Hubs
@model Homework_9.Pages.TypesModel
@{
    ViewBag.Title = "MainTitle"; Layout = "~/Pages/Shared/_MainLayout.cshtml";
}
    
    <div class=" grid grid-flow-row auto-rows-max border border-gray-200 rounded-md ">
   
        <div>
          <div class="grid grid-cols-4  pt-2 ">
           <div>  
              <p class="appearance-none  relative block w-full pl-4 text-gray-500  sm:text-sm"> Tanım </p>   
            </div>
            <div>  
              <p class="appearance-none  relative block w-full text-gray-500  sm:text-sm"> Ziyaret Edilebilir </p>   
            </div>
            <div>
              <p>       </p>
            </div>
            <div class="text-right pl-12 pr-2">
                       <a asp-page="/Types" asp-page-handler="AddCardType" data-turbo-frame="cardtype_0" class="appearance-none  relative block w-full  text-gray-500  sm:text-sm ">
                        <?xml version="1.0" ?><svg viewBox="0 0 32 32" height="24px" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16,29A13,13,0,1,1,29,16,13,13,0,0,1,16,29ZM16,5A11,11,0,1,0,27,16,11,11,0,0,0,16,5Z"  fill="#827f85"/>
                          <path d="M16,23a1,1,0,0,1-1-1V10a1,1,0,0,1,2,0V22A1,1,0,0,1,16,23Z"  fill="#827f85"/>
                          <path d="M22,17H10a1,1,0,0,1,0-2H22a1,1,0,0,1,0,2Z"  fill="#827f85"/></g></svg>
              </a>  
            </div>  
          </div>
        </div>
        <div>
          <div class="grid grid-flow-row  auto-rows-max overflow-auto">
                <turbo-frame id="cardtype_0" >
                 </turbo-frame>
          </div>
        </div>
        <div>
          <div class="grid grid-flow-row h-64 auto-rows-max overflow-auto py-2">         
            <turbo-frame id="cardtypes">
                @foreach (var cardType in CardTypes.Instance) {
                     <partial name="_TypesView" model="@cardType"></partial>
                }
             </turbo-frame>
             <signalr-turbo-stream hub=@($"/{nameof(AppHub)}") method="CardTypeChanged"></signalr-turbo-stream>
           </div>
         </div>
    </div>






